.sidebar {
  /* flex: 30%; */
  border-right: 0.5px solid #e6e3e3;
  min-height: 100vh;
  background-color: #ffffff;
  border: none;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.sidebar .center {
  margin-bottom: 10rem;
}

.sidebar .center ul {
  width: 100%;
}

.sidebar .center ul li {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.sidebar .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0fa44a;
}

.sidebar ul li:hover {
  width: 100%;
  background-color: #0fa44a;
  color: white;
  cursor: pointer;
}

.sidebar .logout {
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #0fa44a;
  font-weight: 500;
  padding-bottom: 10px;
}
