.Widget {
    width: 370px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Widget .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #6e6e6e;
}

.Widget .numbers {
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
    margin-top: -20px;
}

.Widget .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #6e6e6e;
    font-size: 13px;
    width: 100%;
}

.Widget .footer .test {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.green {
    color: #0FA44A;
}