* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
  background-color: #ffffff;
  width: 100%;
}

.homeContainer {
  background-color: #fbfbfb;
  overflow-y: auto; /* Enable scrolling */
  margin-left: 200px; /* Width of the navbar */
  margin-top: 4rem;
}

.homeContainer .tophead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem 0rem 3rem;
}

.widgetContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.Chartleft .BarHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Chartleft .BarHead p {
  font-size: 1.25rem;
}

.Chartleft .BarHead button {
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  color: rgb(38, 39, 38);
  background-color: rgb(255, 255, 255);
  font-size: 500;
  background-color: rgb(167, 230, 185);
}

.Chartleft .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 25px;
  font-weight: 600;
}

.ChartRight {
  padding: 2rem;
}

.ChartRight .DoughnutHead p {
  font-size: 1.25rem;
  padding-bottom: 1.75rem;
}

.ChartRight .Graph {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(236, 231, 231);
  padding-bottom: 2rem;
  padding: 2rem;
}
